@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<main>
    @Body
</main>

<div id="blazor-error-ui">
    Ha ocurrido un error.
    <a href="" class="reload">Reintentar 🙈</a>
    <a class="dismiss">🗙</a>
</div>
