@page "/"

<PageTitle>Home</PageTitle>

<div class="text-3xl font-bold underline">
    Hello world!
</div>

<span class="font-medium text-sky-500">The Anti-Patterns</span>

<h1>Hello, world! duvna</h1>

Welcome to your new app.
