@page "/"

<PageTitle>Home</PageTitle>

<div class="mx-auto flex max-w-sm items-center gap-x-4 rounded-xl bg-white p-6 shadow-lg outline outline-black/5 dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
    <div>
        <div class="text-xl font-medium text-black dark:text-white">ChitChat</div>
        <p class="text-gray-500 dark:text-gray-400">You have a new message!</p>
    </div>
</div>

<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>

<span class="font-medium text-sky-500">The Anti-Patterns</span>

<h1>Hello, world! duvna</h1>

Welcome to your new app.


<div class="rounded-lg bg-white px-6 py-8 shadow-xl ring ring-gray-900/5 dark:bg-gray-800">
    <div>
        <span class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-2 shadow-lg">
            <svg class="h-6 w-6 stroke-white">
                <!-- ... -->
            </svg>
        </span>
    </div>
    <h3 class="mt-5 text-base font-medium tracking-tight text-gray-900 dark:text-white">Writes upside-down</h3>
    <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">
        The Zero Gravity Pen can be used to write in any orientation, including upside-down. It even works in outer space.
    </p>
</div>
